body {
font-family: 'Montserrat', sans-serif;

font-size: 15px;
color: #333;
line-height: 1.6;

}

*,
*:before,
*after {box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

/* Container*/
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

/* Intro */
.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	wighth: 100%;
	height: 100vh;
	background: url(../img/intro.jpg) center
	no-repeat;
	background-size: cover;
}

.intro_inner {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
}

.intro_title {
	color: #fff;
	font-size: 150px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	line-height: 1;
}

.intro_title:after {
	content: "";
	display: block;
	width: 600px;
	height: 5px;
	margin: 60px auto ;

	background-color: #fff;

}

.intro_title:before {
	content: "";
	display: block;
	width: 600px;
	height: 5px;
	margin: 60px auto ;

	background-color: #fff;

}

.intro_suptitle {
	color: #fff;
	font-size: 75px;
	text-transform: uppercase;
	text-align: center;
	line-height: 1;
	font-family: 'Kaushan Script', cursive;
}


/* header */
.header {
	position: absolute;
	width: 100%;
	padding-top: 10px;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.header_inner {
display: flex;
justify-content: space-between;
align-items: center;
}

.header_logo {
font-size: 40px;
font-weight: 700;
margin: 20px;
font-family: 'Kaushan Script', cursive;
}

/* nav */

.nav {
font-size: 14px;
font-family: bold;
text-transform: uppercase;

}

.nav_link {
	display: inline-block;
	vertical-align: top;
	margin: 0 15px;
	color: #fff;
	text-decoration: none;
	transition: color |.3s linear;
	position: relative;
}


.nav_link:after {
content: "";
display: block;
width: 100%;
height: 3px;

background-color: #fce38a;
opacity: 0;

position: absolute;
top:100%;
left:0;
z-index:1;

transition: opacity .3s linear;
}

.nav_link:hover {
	color: #fce38a;
}

.nav_link:hover:after {
opacity: 1;
}



/* Button */
.btn {
	display: inline-block;
	vertical-align: top;
	padding: 8px 30px;

	border: 2px solid #fff;

	font-size: 14px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;

		transition: background .1s linear, color .1s linear;
}

.btn:hover {
	background-color: #fff;
	color: #333;
}


/* Slider */
.slider {
display: flex;
justify-content: space-between;
margin-top: 30px;

}

.slider_item {
	width: 19%;
padding: 20px;

border-top: 3px solid #fff;
opacity: 1;

	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
}

.slider_item:after {
width: 100%;
height: 3px;

background-color: #fce38a;
opacity: 1;

position: absolute;
top:100%;
left:0;
z-index:1;

transition: opacity .1s linear;
}

.slider_num {
	font-size: 24px;
	font-weight: bold;
	color: #fff;
}

.slider_num:hover {
	color: #fce38a;
}